*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url(assets/img/bg.jpg/IN-en-20240129-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-position: 
    center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 70vh;
    position: relative;

}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;

}
nav{
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.p{
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 23px;
    padding: 0px 20px;

}
.p> :first-child{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.p> :nth-child(2){
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.p> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.sep{
    background-color: rgb(46, 46, 46);
    height: 7px;
}
.btn{
    padding: 6px 14px;
    font-weight: 400;
    color: white;
    background-color:  rgb(248, 243, 248,0.4);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 4px;

}
.btn-red-sm{
    background-color: red;
    color: white;

}
.p-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    color: white;
    padding: 7px 101px 8px 14px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgb(248, 243, 248,0.5);
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.secimg{
    position: relative;

}
.secimg video{
    position: absolute;
    top: 51px;
    right: 44px;
    width: 435px;

}
.secimg img{
    width: 30vw;
    position: relative;
    z-index: 10;
    width: 555px;

}
section.first > div{
    display: flex;
    flex-direction: column;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first > div :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
}
section{
    padding: 34px;
}
.third video{
   
    right: 115px;
    width: 328px; 
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
    
}
.faqbox:hover{
    background-color:#414141;
}
.faqbox{
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    margin: 14px auto;
    max-width:  60vw;
    cursor: pointer;   
   
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
footer .questions{
    padding: 34px 0px;
}
.footer a{
    font-size: 14px;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    color: white;
    
}
.footer-item{
    gap: 22px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1300px){
    /* body{
        background-color: red
    }; */
    .first{
        flex-wrap: wrap;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        color: white;
        gap: 55px;
    }   
    .secimg img{
       
        width: 305px;
    }
    .secimg video{
        width: 220px;
    }
    .third video{
        right: 55px;
        top: 18px;
        width: 200px;
    }
    .p {
        gap: 0px;
        padding: 12px 20px;}
    
    nav {
        max-width: 80vw;
    }
    section {
        padding: 70px;
    }
    btn-red {
        
        font-size: 6px;
    }
    .p-buttons {
        display: flex;
        flex-direction: column;
    }
    .p> :first-child{
        font-size: 45px;
      
       
    }
    .p> :nth-child(2){
      
        font-size: 20px;
      
    }
    .p> :nth-child(3){
       
        font-size: 16px; 
    }
    .faq h2 {
        text-align: center;
        font-size: 40px;
    }
    .faqbox {
        
        font-size: 20px;
       
    }
    section.first > div :nth-child(1) {
        font-size: 40px;
        font-weight: bolder;
        text-align: center;
    }
    section.first > div :nth-child(2) {
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
    }
}